/*Toto je komentar, slouzi pouze pro poznamky. Svoje styly piste pod nej*/
/*Napriklad:*/
/*h1 { color: red; }*/
nav li {
	display: inline-block;
	margin-right:30px;
}
nav {
	border: 1px;
	background-color: pink;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}
h1 {
	clear: both;
	padding-top: 10px;
}

div{
  background-color: pink;  
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}
.prvni{
	font-size: 20px;
	
}